bin/
inc/
lib/
vendor/
data/attic/
data/media_attic/
data/cache/
data/tmp/
data/dont-panic-if-you-see-this-in-your-logs-it-means-your-directory-permissions-are-correct
*.htaccess

VERSION
README
COPYING
.htaccess.dist
install.php
index.php
feed.php
doku.php
